<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-favorites *ngIf="folder == 'Favorites'"></app-favorites>
  <app-map *ngIf="folder == 'Map'"></app-map>
  <app-allbikes *ngIf="folder == 'All Bikes'"></app-allbikes>
  <app-reportbikes *ngIf="folder == 'Bike Report'"></app-reportbikes>
  <app-contact *ngIf="folder == 'Contact'"></app-contact>
</ion-content>
