ion-thumbnail {
  width: 100px;
  height: 84px;
  // 100x84
}

ion-list-header {
  font-size: 22px;
}

.station-info {
  height: 40%;
}

ion-img {
  padding: 5px;
    width: 25px;
}

.red-heart {
  color: red;
}
