ion-item {
  padding-bottom: 5px;
  padding-top: 5px;
  --border-radius: 20px;
}

.no-favorite {
  font-size: 32px !important;
}

.red-heart {
  color: red;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: 0 70%;
}
