<ion-fab class="ion-padding-vertical ion-justify-content-between" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="getCurrentPosition()" class="ion-margin-bottom">
    <ion-icon name="compass-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-button (click)="toggleBikePriority()" class="ion-margin-bottom">
    <ion-icon *ngIf="bikesPriority" name="bicycle-outline"></ion-icon>
    <ion-icon *ngIf="!bikesPriority" name="contract-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<div id="map" style="width: 100%; height: 100%"></div>
<div id="info-station" class="info-station info-station-hide">
  <app-info
    *ngIf="selectedFeature"
    [stationId]="getIdSelectedStation()"
    [stationName]="getNameSelectedStation()"
    [coords]="getCoordsSelectedStation()"
    [isFavorite]="isFavoriteSelectedStation()"
    (favoriteToggle)="toggleFavoriteSelectedStation($event)"
  ></app-info>
</div>
